@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .background {
        background-image: url("assets/cloud.svg"), url("assets/cloud.svg");
        background-position: 105% 30%, -5% 30%;
        background-repeat: no-repeat, no-repeat;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: 50px;
    }
}

/* CSS */
.hide-vertical-scrollbar {
    overflow-y: scroll; /* Always show a scrollbar, even if it's not needed */
    scrollbar-width: none; /* Hide the scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar on Internet Explorer/Edge */
}

.hide-vertical-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar on WebKit browsers (Chrome, Safari, etc.) */
}

.scrollbar-x {
    scrollbar-width: thin; /* "auto" can also be used for default browser styles */
}

.scrollbar-x::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
}

.scrollbar-x::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the thumb */
    border-radius: 4px; /* roundness of the thumb */
}
